<div class="mypage_contents col-md-8">
  <div class="mypage-spaces">
    <h3>マイ場所一覧</h3>
    <% @spaces.each do |space| %>
      <div class="space">
        <div class="row">
          <div class="col-md-9">
            <h4>
              <%= link_to(edit_mypage_space_path(space) ,class: "col-md-3") do %>
                <%= space.name %>
              <% end %>
            </h4>
            <div>
              料金（１週間あたり） : <%= number_to_currency space.charge %>
            </div>
            <div>
              ステータス: <%= space.status %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to 'New', new_mypage_space_path(@space) %>
  </div>
</div>
