<div class="keyvisual">
  <div class="balck-over-ray"></div>
  <div class="keyvisual_txt-area">
    <p class="keyvisual_desc">広告を載せる場所を探す</p>
    <input class="form-control">
  </div>
</div>
<section class="popular">
  <div class="card-list">
    <div class="container">
      <h3 class="title">人気のエリア</h3>
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="spacer col-md-4"></div>
        <div class="spacer col-md-4"></div>
        <div class="spacer col-md-4"></div>
      </div>
    </div>
  </div>
</section>
<section class="categories-all">
  <div class="container">
    <h3 class="title">カテゴリ一覧</h3>
    <ul class="categories-all_list">
      <li>
        <button class="btn btn-info"><a href="#">サウナ</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナ-</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">電子書籍</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">音楽データ</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">教材</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
      <li>
        <button class="btn btn-info"><a href="#">サウナおじさん</a></button>
      </li>
    </ul>
  </div>
</section>
<section class="new-arrival">
  <div class="card-list">
    <div class="container">
      <h3 class="title">新着商品</h3>
      <div class="row">
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4 ml-auto mr-auto">
          <%= link_to '#' do %>
            <div class="card">
              <%= image_tag("cafe_sample.jpg", class: "img-raised") %>
              <div class="card-body">
                <div class="item-detail">
                  <h4 class="card-title">平日も人が多いカフェです！</h4>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="spacer col-md-4"></div>
        <div class="spacer col-md-4"></div>
        <div class="spacer col-md-4"></div>
      </div>
      <div class="view-all">
        <%= link_to '全ての商品をみる','#' %>
      </div>
    </div>
  </div>
</section>
<section class="information">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3 class="title">お知らせ</h3>
        <ul class="information_list">
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-success">ニュース</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-danger">障害・メンテナンス</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-info">イベント</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 class="title">メディア掲載情報</h3>
        <ul class="information_list">
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-success">ニュース</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-danger">障害・メンテナンス</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
          <li>
            <p class="information_date">2019/05/23</p>
            <ul class="information_tags">
              <li class="btn btn-outline-info">イベント</li>
            </ul>
            <p class="information_description">蛇骨湯に入りました！</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
