<!DOCTYPE html>
<html>
  <%= render 'partials/head' %>
  <body>
    <%= render 'partials/header' %>
    <div class="wrapper">
      <% if notice.present? %>
        <div class="alert alert-success" role="alert">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons ui-2_like"></i>
            </div>
            <%= notice %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </span>
            </button>
          </div>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert alert-danger" role="alert">
          <div class="container">
            <div class="alert-icon">
              <i class="now-ui-icons objects_support-17"></i>
            </div>
            <%= alert %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                      </span>
            </button>
          </div>
        </div>
      <% end %>
      <div class="mypage">
        <div class="container">
          <div class="row">
            <%= render 'partials/mypage/menu' %>
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'partials/footer' %>
    <%= yield :additional_javascript %>
  </body>
</html>
